
.timer{
    padding: 20px 0 30px;
    background-color: #dd6662;
    border-radius: 8px;
    max-width: 480px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:40px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.timer__blue{
    background-color: #5e9ca0;
}
.timer__navyBlue{
    background-color: #5889ac;
}

.timer-btn__mode{
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
}
.timer-btn__mode-active{
    border: none;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none rgba(0, 0, 0, 0.15);
    box-shadow: none;
    color: white;
    opacity: 1;
    font-weight: bold;
}
.timer-string{
    color:#eee;
    font-size: 120px;
    font-weight: bold;
    /* margin-top: 20px; */
}
.timer-btn-start{
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(217, 85, 80);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
}
.btn-start__blue{
    color: #5e9ca0;
}
.btn-start__navyBlue{
    color: #5889ac;
}

.timer-btn-stop{
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(217, 85, 80);
    font-weight: bold;
    width: 150px;
    background-color: white;
}
.timer-btn-start:active{
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(217, 85, 80);
    font-weight: bold;
    width: 150px;
    background-color: white;
    transition: 0.1s ease-in-out 0s;
}